/* CSS Document */

*{margin:0; padding:0; outline:0;}
body{font-family:arial; font-size:16px; line-height:18px; color:}

.template{width:960px; margin:0px auto;}
.clear{overflow:hidden;}
.headerSection {
    height: 85px;
    background: #262626;
    color: #fff;
}
.headerSection h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}
.nevigationSection {
    height: 35px;
    background: #868686;
    color: #fff;
}
.nevigationSection p {
    padding-left: 433px;
    font-size: 19px;
    padding-top: 5px;
}
.contentSection {background:#fffffff;}
.mainContent {
    width: 600px;
    background: #D3D3D3;
    float: left;
    padding: 10px;
    margin: 15px;
    margin-left: 0px;
}
.mainContent p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 12px;
}
.slidebar {
    width: 302px;
    background: #D3D3D3;
    float: right;
    padding: 10px;
    margin: 16px 0px;
}
.sameSidebar {}
.sameSidebar h2 {
    background: #7F7F7F;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #3F3F34;
    color: #ffff;
}
.sameSidebar p {
    margin-bottom: 10px;
}
.footerSection {
    height: 90px;
    background: #464646;
    color: #fff;
}
.footerSection h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 27px;
	font-weight:bold;
}
