



@font-face {
    font-family: 'winsoft_promedium';
    src: url('winsoft-pro-medium-webfont.woff2') format('woff2'),
         url('winsoft-pro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}