@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i');
*{margin:0; padding:0; outline:0;}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 18px;
	background-image: url("image/bg.png");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.template{width:960px; margin:0px auto;}
.contemplate {
	width: 933px;
	margin: 0px auto;
}
.clear{overflow:hidden;}
.headerSection {
	background: #B27E19;
	color: #FFF;
}

.logo {
	width: 600px;
	float: left;
}
.logo img {
	float: left;
	width: 151px;
	padding-top: 0px;
	margin-right: 16px;
}
.logo h2 {
	margin-top: 41px;
	margin-bottom: 26px;
	font-size: 43px;
	color: #ffff;
	text-shadow: 7px -1px 0px #666;
}
.logo p{}

.social {
	width: 252px;
	float: right;
}
.social img {
	width: 48px;
	/* height: 69px; */
	padding-top: 38px;
	padding-right: 6px;
	margin-right: 5px;
}

.nevigationSection {
	background: #CF9B36;
	color: #fff;
	height: 37px;
}
.nevigationSection ul{margin:0px; padding::0px;list-style:none;}
.nevigationSection ul li {
	display: block;
	float: left;
	border-right: 1px solid #A6720D;
	border-left: 1px solid #F4CA65;
	position:relative;
}
.nevigationSection ul li:first-child{border-left: 0px solid #F4CA65;}
.nevigationSection ul li:last-child{border-right: 0px solid #F4CA65;}

.nevigationSection ul li ul{position: absolute;left:-999999999px;}
.nevigationSection ul li:hover ul{left: 0px;}
.nevigationSection ul li ul li {
	background: #CF9B36;
	width: 150px;
	border-bottom: 1px solid #FBC762 !important;
	border-right: 0px solid #A6720D !important;
	border-left: 0px solid #F4CA65 !important;
}
.nevigationSection ul li ul li:last-child{border-bottom: 0px solid #FBC762 !important;}
.nevigationSection ul li ul li a{}

.nevigationSection ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #ffff;
	
}
.nevigationSection ul li a:hover { background:#FFFF;color:#000;}
#active{background:#FFFF;color:#000;}
.sliderSection {
	
}

.contentSection {
	background: #fff;
	border: 1px solid #CF9B36;
	padding: 10px 12px;
}
.mainContent {
	width: 553px;
	background: #F4EDDD;
	float: left;
	padding: 8px 20px;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid #FFE1B2;
	margin-bottom: 13px;
}

.relatedPost{}
.relatedPost h2 {
	font-size: 26px !important;
	color: #000 !important;
	background: #CF9B36;
	border-bottom: 2px solid #A5831E !important;
}
.relatedPost a{}
.relatedPost a img {
	width: 152px;
	height: 117px;
	margin-right: 22px !important;
	margin-left: 7px !important;
	margin-bottom: 2px !important;
}
.relatedPost a img:hover{
	opacity: 0.5;
}

input[type="text"], input[type="email"] {
	width: 313px;
	padding: 8px;
	margin-bottom: 8px;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
	margin-top: 4px;
} 
input[type="submit"] {
	width: 105px;
	padding: 7px 10px;
	font-size: 19px;
	background: #B27E19;
	color: #fff;
	font-weight: bold;
	border: 2px solid #949494;
	border-radius: 5px;
}
input[type="submit"]:hover{background:#fff;color:#000;}
textarea {
	width: 315px;
	height: 180px;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #c3c3c3;
	margin-bottom: 12px;
}
.post{}
.post img {
	height: 200px;
	float: left;
	margin-right: 21px;
	background: #fff;
	padding: 5px;
	border: 1px solid #B0B0B0;
	margin-top: 7px;
}
.about{}

.about img {
	height: 302px;
	float: left;
	margin-right: 21px;
	background: #fff;
	padding: 5px;
	border: 1px solid #B0B0B0;
}
.about p,.post p {
	line-height: 27px;
	text-align: justify;
	margin-bottom: 10px;
	font-size: 18px;
}
.samePost{}
.samePost h2,.about h2,.post h2 {
	margin-bottom: 10px;
	border-bottom: 2px solid #FEFEFE;
	padding: 10px;
	font-size: 25px;
	color: #CF9B36;
	font-size: 29px;
}
.samePost img {
    width: 209px;
    height: 150px;
    float: left;
    margin-right: 15px;
    background: #ffff;
    padding: 5px;
    border: 1px solid #86868B;
}
.samePost p {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}
.readMore {
    float: right;
   
}
.readMore a {
    text-decoration: none;
    background: #ffff;
    display: block;
    padding: 5px 10px;
    font-size: 17px;
    color: #868675;
    border-radius: 10px 0px 10px 0px;
    border: 1px solid #868686;
}

.readMore a:hover {
	background: #252525;
	color:#FFF;	
}
.slidebar {
	width: 300px;
	background: #F4EDDD;
	float: right;
	padding: 10px;
	margin: 0px 0px;
	border: 1px solid #FFE1B2;
	margin-bottom: 13px !important;
}
.sameSidebar {margin-bottom:8px;}
.sameSidebar h2 {
	background: #CF9B36;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #3F3F34;
	color: #252522;
	font-size: 23px;
}
.sameSidebar ul{margin:0px; padding:0px; list-style:none;}
.sameSidebar ul li {
	padding: 8px 10px;
	font-size: 18px;
	border-bottom: 1px dashed #AE9C37;
	padding-left: 0px;
	margin-bottom: 5px;
}
.sameSidebar ul li a {
	text-decoration: none;
	color: #B27E19;
	margin-bottom: 0px;
}
.sameSidebar ul li a:hover{color:#C00;}
.sameSidebar ul li:last-child{border-bottom: 0px dashed #AE9C37;}

.popular {
	margin-bottom: 9px;
}
.popular h3 {
	font-size: 21px;
	font-weight: normal;
	border-bottom: 2px dotted #B27E19;
	margin-bottom: 10px;
	padding-bottom: 6px;
}
.popular a {
	text-decoration: none;
	color: #000000;
}
.popular a img {
	width: 66px;
	float: left;
	margin-right: 9px;
	margin-bottom: -3px;
	background: #fff;
	padding: 5px;
	border: 1px solid #DAA641;
	border-radius: 50%;
	margin-top: 6px;
}
.popular p{}

.footerSection {
	height: 90px;
	background: #B27E19;
	color: #fff;
	text-align:center;
}
.footerMenu {
	margin-top: 25px;
	margin-bottom: 7px;
}
.footerMenu ul{margin:0px; padding:0px; list-style:none;}
.footerMenu ul li{display:inline-block;}
.footerMenu ul li a {
	margin-right: 8px;
	font-size: 18px;
	color: #FECA80;
}
.footerSection p{}

.fixedIcon {
	position: fixed;
	top: 170px;
	left: 0;
	width: 69px;
	margin-left: 9px;
}
.fixedIcon img {
	width: 60px;
}
#scrollToUp {
	position: fixed;
	bottom: 9px;
	right: 10px;
}
#scrollToUp img {
	cursor: pointer;
	width: 50px;
}